@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:ital@1&display=swap');

body {
  font-family: 'Inter';
  margin: 0;
}

h2 {
  font-weight: 400;
}

.banner {
  background: linear-gradient(rgba(0, 162, 255, 0.45), rgba(0, 115, 255, 0.45)),
    url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  opacity: 0.9;
  color: white;
  margin: 0 auto;
  padding: 100px 0;
  width: 100%;
}

.banner p {
  font-family: 'Lora';
  font-size: 2rem;
}

.container {
  width: 768px;
  margin: 0 auto;
}

.content-link {
  background-color: greenyellow;
  font-family: 'Lora';
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(65, 65, 65);
}

.content-link:hover {
  background-color: rgb(18, 169, 18);
}

@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 768px;
  }
}
